/*
	新添加的样式。
	2022.9.8
*/

/* 横线 */
.section-line {
	width: 96px;
	border-bottom: 5px solid #5f3afc;
	overflow: hidden;
}

/* 教程封面图片尺寸 */
.book-cover {
	width: 150px;
}

/* 文章封面图片尺寸 */
.blog-cover {
	width: 150px;
}

/* 显示1行,超出部分省略号 */
.name-line-1 {
	vertical-align: top;
	word-wrap: normal;
	font-size: 16px;
	color: #666;
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* 显示2行,超出部分省略号 */
.name-line-2 {
	vertical-align: top;
	word-wrap: normal;
	font-size: 16px;
	color: #666;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	
	display: -moz-box;
	-moz-line-clamp: 2;
	-moz-box-orient: vertical;
	
	overflow-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

/* 头像 */
.user-img {
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

/* 图片浮动文字 */
.banner-fixed {
	position: absolute;
	left: 0px;
	top: 55px;
}

/* 侧边栏图片 */
.sidebar-img {
	width: 100%;
	border-radius: 6px;
}

/* 搜索页图片 */
.search-img {
	width: 200px;
	height: 142px;
	vertical-align: middle;
	object-fit: scale-down;
}